/* ==========================================================================
	NORMALIZE
============================================================================= */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100% ;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: .83em;
  margin: 1.67em 0;
}
h6 {
  font-size: .67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic ;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle ;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible ;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px ;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top ;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
	GRID
============================================================================= */
.clearfix,
.wrapper {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.clearfix:after,
.wrapper:after {
  clear: both;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/** GRID CLASSES
---------------------------------------- **/
.row {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.column,
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  min-height: 1px;
  display: inline;
  float: left;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
}
.span1 {
  width: 6.25%;
}
.span2 {
  width: 14.583333333333334%;
}
.span3 {
  width: 22.916666666666664%;
}
.span4 {
  width: 31.25%;
}
.span5 {
  width: 39.58333333333333%;
}
.span6 {
  width: 47.91666666666667%;
}
.span7 {
  width: 56.25%;
}
.span8 {
  width: 64.58333333333334%;
}
.span9 {
  width: 72.91666666666666%;
}
.span10 {
  width: 81.25%;
}
.span11 {
  width: 89.58333333333334%;
}
.span12 {
  width: 97.91666666666666%;
}
.push1 {
  margin-left: 9.374999999999998%;
}
.push2 {
  margin-left: 17.708333333333332%;
}
.push3 {
  margin-left: 26.041666666666668%;
}
.push4 {
  margin-left: 34.37499999999999%;
}
.push5 {
  margin-left: 42.708333333333336%;
}
.push6 {
  margin-left: 51.041666666666664%;
}
.push7 {
  margin-left: 59.375%;
}
.push8 {
  margin-left: 67.70833333333333%;
}
.push9 {
  margin-left: 76.04166666666667%;
}
.push10 {
  margin-left: 84.37500000000001%;
}
.push11 {
  margin-left: 92.70833333333333%;
}
.push12 {
  margin-left: 101.04166666666667%;
}
.span_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
@media only screen and (max-width: 550px) {
  .column,
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
  }
}
/* ==========================================================================
	CORE
============================================================================= */
/** MISC
---------------------------------------- **/
::-moz-selection {
  background: rgba(255, 0, 0, 0.9);
  text-shadow: none;
  color: #ffffff;
}
::selection {
  background: rgba(255, 0, 0, 0.9);
  text-shadow: none;
  color: #ffffff;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  background: #ccc;
  color: #000;
  padding: 1em 0;
  text-align: center;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
}
/** TYPOGRAPHY
---------------------------------------- **/
/* Set base font-sizes and fonts. Set base font-size to 10px. Then use .font-size() helper function to leverage rem sizing. */
html {
  font-size: 62.5%;
}
.mainfont,
html,
body,
button,
input,
select,
textarea {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
html,
body,
button,
input,
select,
textarea {
  color: #666666;
}
/** PARAGRAPH AND LIST MARGINS **/
p,
ul,
ol {
  margin: 1em 0;
}
p:first-child,
ul:first-child,
ol:first-child {
  margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
/** BASE LINK STYLING **/
a {
  color: #ff0000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/** HEADERS **/
.header_global,
h1,
.h_headline,
h2,
.h_subheadline,
h3,
.h_byline,
h4,
.h_standfirst,
h5,
.h_related,
h6,
.h_promo {
  margin: 1em 0 1.5em;
  line-height: 1;
}
.header_global:first-child,
h1:first-child,
.h_headline:first-child,
h2:first-child,
.h_subheadline:first-child,
h3:first-child,
.h_byline:first-child,
h4:first-child,
.h_standfirst:first-child,
h5:first-child,
.h_related:first-child,
h6:first-child,
.h_promo:first-child {
  margin-top: 0;
}
h1,
.h_headline {
  /* header styles here */
}
h2,
.h_subheadline {
  /* header styles here */
}
h3,
.h_byline {
  /* header styles here */
}
h4,
.h_standfirst {
  /* header styles here */
}
h5,
.h_related {
  /* header styles here */
}
h6,
.h_promo {
  /* header styles here */
}
/** TYPE HELPER CLASSES **/
big,
.big,
.intro {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.5;
}
small,
.small {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.5;
}
/** LAYOUT
---------------------------------------- **/
.wrapper {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
/* ==========================================================================
	COMPONENTS
============================================================================= */
/** IMAGES
---------------------------------------- **/
img {
  max-width: 100%;
  height: auto;
}
/** BUTTONS / CTA's
---------------------------------------- **/
/** HEROSLIDER
---------------------------------------- **/
/** FORMS
---------------------------------------- **/
/* ==========================================================================
	MODULES
============================================================================= */
/** HEADER
---------------------------------------- **/
/** MAINNAV
---------------------------------------- **/
/** FOOTER
---------------------------------------- **/
/* ==========================================================================
	ERRORS, PRINT & MISC
============================================================================= */
/** ERRORS
---------------------------------------- **/
/** PRINT CSS
---------------------------------------- **/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/******************************************************************************
 HELPERS 
******************************************************************************/
/* IMAGE REPLACEMENT - sets all you need for replacing text with an image. Just set your 'background-image',width and height. */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  background-color: #ccc;
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/* HIDE STUFF */
.hidden {
  display: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
/* FLOATS & CENTERING */
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.img_right {
  float: right;
  margin: 0.2em 0 1em 1em;
}
.img_left {
  float: left;
  margin: 0.2em 1em 1em 0;
}
.img_center {
  float: none;
  display: block;
  margin: 1em auto;
}
.img_left:first-child,
.img_right:first-child,
.img_center:first-child {
  margin-top: 0;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.align_middle:before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
  margin-left: -0.3em;
}
.align_middle > * {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/* UL OL */
ol.unstyled,
ul.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* TEXT */
.nowrap {
  white-space: nowrap;
}
.strong,
.bold {
  font-weight: bold;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
.relative {
  position: relative;
}
.block {
  display: block;
}
/* MARGIN HELPERS */
/** MARGIN & PADDING HELPERS **/
/** PADDING **/
.no_pad,
.no_padding {
  padding: 0 !important;
}
.pt_xxl {
  padding-top: 2.5em !important;
}
.pt_xl {
  padding-top: 2em !important;
}
.pt_l {
  padding-top: 1.5em !important;
}
.pt_m {
  padding-top: 1em !important;
}
.pt_s {
  padding-top: 0.5em !important;
}
.pt_none {
  padding-top: 0 !important;
}
.pr_xxl {
  padding-right: 2.5em !important;
}
.pr_xl {
  padding-right: 2em !important;
}
.pr_l {
  padding-right: 1.5em !important;
}
.pr_m {
  padding-right: 1em !important;
}
.pr_s {
  padding-right: 0.5em !important;
}
.pr_none {
  padding-right: 0 !important;
}
.pb_xxl {
  padding-bottom: 2.5em !important;
}
.pb_xl {
  padding-bottom: 2em !important;
}
.pb_l {
  padding-bottom: 1.5em !important;
}
.pb_m {
  padding-bottom: 1em !important;
}
.pb_s {
  padding-bottom: 0.5em !important;
}
.pb_none {
  padding-bottom: 0 !important;
}
.pl_xxl {
  padding-left: 2.5em !important;
}
.pl_xl {
  padding-left: 2em !important;
}
.pl_l {
  padding-left: 1.5em !important;
}
.pl_m {
  padding-left: 1em !important;
}
.pl_s {
  padding-left: 0.5em !important;
}
.pl_none {
  padding-left: 0 !important;
}
.p_xxl {
  padding: 2.5em !important;
}
.p_xl {
  padding: 2em !important;
}
.p_l {
  padding: 1.5em !important;
}
.p_m {
  padding: 1em !important;
}
.p_s {
  padding: 0.5em !important;
}
.p_none {
  padding: 0 !important;
}
/** MARGIN **/
.no_marg,
.no_margin {
  margin: 0 !important;
}
.mt_xxl {
  margin-top: 2.5em !important;
}
.mt_xl {
  margin-top: 2em !important;
}
.mt_l {
  margin-top: 1.5em !important;
}
.mt_m {
  margin-top: 1em !important;
}
.mt_s {
  margin-top: 0.5em !important;
}
.mt_none {
  margin-top: 0 !important;
}
.mr_xxl {
  margin-right: 2.5em !important;
}
.mr_xl {
  margin-right: 2em !important;
}
.mr_l {
  margin-right: 1.5em !important;
}
.mr_m {
  margin-right: 1em !important;
}
.mr_s {
  margin-right: 0.5em !important;
}
.mr_none {
  margin-right: 0 !important;
}
.mb_xxl {
  margin-bottom: 2.5em !important;
}
.mb_xl {
  margin-bottom: 2em !important;
}
.mb_l {
  margin-bottom: 1.5em !important;
}
.mb_m {
  margin-bottom: 1em !important;
}
.mb_s {
  margin-bottom: 0.5em !important;
}
.mb_none {
  margin-bottom: 0 !important;
}
.ml_xxl {
  margin-left: 2.5em !important;
}
.ml_xl {
  margin-left: 2em !important;
}
.ml_l {
  margin-left: 1.5em !important;
}
.ml_m {
  margin-left: 1em !important;
}
.ml_s {
  margin-left: 0.5em !important;
}
.ml_none {
  margin-left: 0 !important;
}
.m_xxl {
  margin: 2.5em !important;
}
.m_xl {
  margin: 2em !important;
}
.m_l {
  margin: 1.5em !important;
}
.m_m {
  margin: 1em !important;
}
.m_s {
  margin: 0.5em !important;
}
.m_none {
  margin: 0 !important;
}
/* FUEL CLASSES */
/* for form */
div.error,
li.error,
ul.error {
  background-color: #c30;
  color: #fff;
  padding: 2px 5px;
}
span.error_highlight input,
span.error_highlight textarea,
span.error_highlight select {
  border: 2px solid #c30;
}
/* for ckeditor */
.ckeditor {
  background: #fff;
  padding: 5px 5px 171px 5px;
  color: #000;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Gill Sans', Arial, Helvetica, Sans-serif !important;
}
