.block-cta {
	@extend %block;
	.col {
		@media (min-width: $break-sm) {
			width: 50%;
		}
	}
}
.block-cta.block-right {
	.col {
		text-align: right;
		@media (min-width: $break-sm) {
			float: right;
		}
	}
}
.block-cta.block-center {
	.col {
		@media (min-width: $break-sm) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.block-cta .row {
	.col {
		@extend %column6;
	}
}