/** CSS for the blockpicker custom field **/

/** RADIO LABEL = IMAGE CHOOSER
---------------------------------------- **/
span.blockpicker_group {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 70px;
	margin-right: 10px;
	background-position: center center;
	margin-bottom: 20px;
}
input.blockpicker {
	visibility: hidden;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
input.blockpicker + label {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 20px;
	padding: 70px 5px 0 5px;
	position: absolute;
	top: 0;
	left: 0;
}
input.blockpicker:checked + label {
	box-shadow: inset 0 0 0 3px #0e3e7e;
}